<p> <a href="https://chris18191.bitbucket.io/SchlagDenX/HerkunftRaten/Deutschland/index.html">in Deutschland</a></p>
<p> <a href="https://chris18191.bitbucket.io/SchlagDenX/HerkunftRaten/Welt/index.html">auf der ganzen Welt</a></p>
