* {
  padding: 0;
  margin: 0px;
}

body {
  background-color: #444;
}


#mapCanvas {
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  width: 65vh;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 5vh;

  box-shadow: 2vw 2vh 3vw black;


  image-rendering: auto;
}

#map {
  display: none;
}

#buttonbar {
  width: 100%;
  background: #666;
  margin: 0 auto;
  margin-top: 6vh;
  min-height: 8vh;
  display: flex;
  flex-wrap: wrap;
}

#buttonbar button {
  width: 10vw;
  height: 6vh;
  margin: 1vh 1vw;
}

#save {
  margin: 10vh auto;
  width: 50vw;
  height: 5vh;
}

#save button {
  width: 100%;
  height: 100%;
}